<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CBETA</name>
    <description>
        Offline CBETA android application
    </description>
    <author email="yl1984108@gmail.com" href="http://l2yao.github.io">
        Long Yao
    </author>
    <content src="cbeta/tripitaka/mobile/index.html" />
    <access origin="*" />
</widget>
